{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block content %}
    <div class="container-fluid">
        <h1 class="page-header text-center">Blacklist</h1>
        <div class="col-sm-6">
            {{ search_form.hidden_tag() }}
            {{ wtf.quick_form(search_form) }}
        </div>
        <div class="container-fluid">
            {{ render_pagination(blacklist) }}
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Main Name</th>
                    <th class="text-center">Corp</th>
                    <th class="text-center">Alliance</th>
                    <th class="text-center">IP Address</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Creator</th>
                    <th class="text-center">Notes</th>
                </tr>
                {% for entry in blacklist.items %}
                    <tr>
                        <td class="text-center">{{ entry.name }}</td>
                        <td class="text-center">{{ entry.main_name }}</td>
                        <td class="text-center">{{ entry.corporation }}</td>
                        <td class="text-center">{{ entry.alliance }}</td>
                        <td class="text-center">{{ entry.ip_address }}</td>
                        <td class="text-center">{{ entry.created_time.strftime('%Y/%m/%d %H:%M:%S') }}</td>
                        <td class="text-center">{{ entry.creator.auth_info[0].main_character }}</td>
                        <td class="text-center">{{ entry.notes }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if current_user.has_role('admin') or current_user.has_role('recruiter') %}
            <div class="container-fluid">
                {{ wtf.quick_form(blacklist_form) }}
            </div>
        {% endif %}

    </div>

{% endblock %}