
{% extends "layout.html" %}
{% block content %}

<div class="body-content">
  <div class="jumbotron">
      <h2>
          How to (successfully) join KarmaFleet using this website
          (a test in following instructions)
      </h2>
      <h3>
        <a href="https://imgur.com/a/NxSIr">Picture Guide</a>
      </h3>

      <ol>
          <li>
              <p>
                  <a class="btn btn-info" href="{{ url_for('security.register') }}">
                      Register an account
                  </a>
                  and
                  <a class="btn btn-info" href="{{ url_for('security.login') }}">
                      Login
                  </a>
{#                  <a class="btn btn-info" href="https://sso.app/">#}
{#                      Register an account on our SSO#}
{#                  </a>#}
{#                  and#}
{#                  <a class="btn btn-info" href="{{ url_for('user.oauth_authorize', provider='karmafleet') }}">#}
{#                      Login#}
{#                  </a>#}
{#                  if you have not already done so#}
              </p>
          </li>
          <li>
              <p>
                  <a class="btn btn-info" href="{{ url_for('user.api_add') }}">
                      Add your EVE API Keys
                  </a>
                  Include one for ALL of your accounts (even ones you're not applying with, or are unsubscribed, or are just old trial accounts).
              </p>
          </li>
          <li>
              <p>
                  <a class="btn btn-info" href="{{ url_for('user.eve_characters') }}">
                      Set your primary/main character
                  </a>
              </p>
          </li>
          <li>
              <p>
                  <a class="btn btn-info" href="{{ url_for('recruit.application_create') }}">
                      Submit an application
                  </a>
                  Fill out all information requested.
              </p>
          </li>
          <li>
              <p>
                  <a class="btn btn-info" href="{{ url_for('recruit.applications') }}">
                      Your applications
                  </a>
                  After submitting your application, find it in your list of submitted applications and click on the blue eye icon under "actions".
              </p>
          </li>
          <li>
              <p>
                  Copy the address/URL of your application. Apply in game on the character(s) you applied with, pasting the application address/URL into the in game application(s).
              </p>
          </li>
          <li>
              <p>
                  Wait for a recruiter to review your application and invite you to join, then accept the invitation in game.
              </p>
          </li>
      </ol>
      <h1>Low effort applications will be rejected</h1>
  </div><!-- /.row -->
</div>
{% endblock %}

