
{% extends "layout.html" %}
{% block content %}

<div class="body-content">
  <div class="jumbotron">
      <h2>
          How to (successfully) join KarmaFleet using this website
          (a test in following instructions)
      </h2>
      <ol>
          <li>
              <p>
                  <a href="{{ url_for('security.register') }}">
                      <button type="button" class="btn btn-info">Register an account</button>
                  </a>
                  and
                  <a href="{{ url_for('security.login') }}">
                      <button type="button" class="btn btn-info">Login</button>
                  </a>
                  if you have not already done so
              </p>
          </li>
          <li>
              <p>
                  <a href="{{ url_for('user.api_add') }}">
                      <button type="button" class="btn btn-info">Add your EvE API Keys</button>
                  </a>
              </p>
          </li>
          <li>
              <p>
                  <a href="{{ url_for('user.eve_characters') }}">
                      <button type="button" class="btn btn-info">Set your primary/main character</button>
                  </a>
              </p>
          </li>
          <li>
              <p>
                  <a href="{{ url_for('recruit.application_create') }}">
                      <button type="button" class="btn btn-info">Submit an application</button>
                  </a>
                  Fill out all information requested
              </p>
          </li>
          <li>
              <p>
                  <a href="{{ url_for('recruit.applications') }}">
                      <button type="button" class="btn btn-info">Your applications</button>
                  </a>
                  After submitting your application, find it in your list of submitted applications and click on the blue eye icon under "actions".
              </p>
          </li>
          <li>
              <p>
                  Copy the address/URL of your application. Apply in game on your main character, pasting the application address/URL into the in game application.
              </p>
          </li>
          <li>
              <p>
                  Wait for a recruiter to review your application and accept you.
              </p>
          </li>
      </ol>
      <h1>Low effort applications will be rejected</h1>
  </div><!-- /.row -->
</div>
{% endblock %}

