
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-narrow">
  <h1>Login</h1>
    <br/>
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
            {{ login_user_form.hidden_tag() }}
            {{ wtf.quick_form(login_user_form) }}
    </form>
    <p><em>Not registered?</em> Click <a href="{{ url_for('security.register')}}">here</a> to register.</p>
    <p><em>Forgot Password?</em> Click <a href="{{ url_for('security.forgot_password')}}">here</a> to reset it.</p>
</div>
{% endblock %}

