<footer>
  <small>
  <ul class="company">
    <li>© tyler274</li>
  </ul>

    <ul class="footer-nav">

      <li><a href="{{ url_for('public.about') }}">About</a></li>

      <li><a href="mailto:tyler274port@gmail.com">Contact</a></li>
    </ul>
  </small>
<div class="row">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Karmafleet bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4431261720511025"
     data-ad-slot="5900301791"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="row">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Karma bottom 2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4431261720511025"
     data-ad-slot="6683874191"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="row">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- karma bottom 3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4431261720511025"
     data-ad-slot="8160607392"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</footer>
