
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
        <h1>Welcome {{ current_user.email }}</h1>
        <h3>This is where you will add eve api stuff</h3>
        <a target="_blank" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=536870911">
            <button type="button" class="btn btn-lg btn-info">Create a full API key</button>
        </a>
        <form action="{{ url_for('user.api_add') }}" class="form-signin" role="form" action="" method="POST">
                            {{ form.hidden_tag() }}
                            {{ wtf.quick_form(form) }}
        </form>
    </div>
{% endblock %}
