
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="col-lg-12 container">
        <h1 class="page-header text-center">Characters</h1>

        <div class="col-lg-12 container">

            {% if authinfo.main_character_id %}
            {% else %}
                <div class="alert alert-danger" role="alert">No primary character set</div>
            {% endif %}
            <div class="row">
                {% for character in characters %}
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-left col-md-8">
                                                {{ character.character_name }}

                                                <a href="{{ url_for('user.eve_main_character_change', character_id=character.character_id) }}">
                                                    {% if character.character_id|string == authinfo.main_character_id|string %}
                                                        <button type="button" class="btn btn-default btn-xs">
                                                            Refresh Primary
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-primary btn-xs">Make
                                                            Primary
                                                        </button>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="col-lg-5 col-sm-2"><img class=
                                  "ra-avatar img-responsive" src=
                                  "https://image.eveonline.com/Character/{{ character.character_id }}_128.jpg">
                                </div>

                                <div class="col-lg-7">
                                    <p><strong>Alliance: </strong> {{ character.alliance.alliance_name }} </p>

                                    <p><strong>Corporation: </strong>{{ character.corporation.corporation_name }}</p>

                                    <p><strong>Corporation Ticker: </strong> {{ character.corporation.corporation_ticker }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
