{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block content %}
<div class="container-fluid">
    {% if current_user.main_character %}
        <h1 class="page-header text-center">Personal Applications
            <div class="text-right">
                <a class="btn btn-success" href="{{ url_for('recruit.application_create')}}">
                    Create Application
                </a>
            </div>
        </h1>
        {% if personal_applications.pages > 1 %}
            {{ render_pagination(personal_applications) }}
        {% endif %}
        <table class="table table-bordered">
            <tr>
                <th class="text-center">Character(s)</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
            {% for application in personal_applications.items %}
                <tr>
                    <td class="text-center">
                        {% for character in application.characters %}{% if loop.index0 > 0 %}, {% endif %}{{ character.character_name }}{% endfor %}</td>
                    <td class="text-center">
                        {% if application.approved_denied == "New" %}
                            <div class="alert-warning" role="alert">New</div>

                        {% elif application.approved_denied == "Approved" %}
                            <div class="alert-success" role="alert">Approved</div>

                        {% elif application.approved_denied == "Rejected" %}
                            <div class="alert-danger" role="alert">Rejected</div>

                        {% elif application.approved_denied == "Role Stasis" %}
                            <div class="alert-info" role="alert">Role Stasis</div>

                        {% elif application.approved_denied == "Closed" %}
                            <div class="alert-danger" role="alert">Closed</div>

                        {% elif application.approved_denied == "Missing In-Game" %}
                            <div class="alert-info" role="alert">Missing In-Game App</div>

                        {% elif application.approved_denied == "Awaiting Response" %}
                            <div class="alert-info" role="alert">Awaiting Response</div>

                        {% else %}
                            <div class="alert-info" role="alert">In Progress</div>

                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary" href="{{ url_for('recruit.application_view', application_id=application.id) }}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">No primary character set, Please set a primary character</div>
    {% endif %}
</div>

{% endblock %}
