
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block content %}
<div class="container-fluid">
    {% if current_user.auth_info[0].main_character %}
    <div class="container-fluid">
        <h1 class="page-header text-center">Personal Applications
            <div class="text-right">
                <a href="{{ url_for('recruit.application_create')}}">
                    <button type="button" class="btn btn-success">Create Application</button>
                </a>
            </div>
        </h1>
        <div class="container-fluid">
            {{ render_pagination(personal_applications) }}
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">Character</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
                {% for application in personal_applications.items %}
                    <tr>
                        <td class="text-center">{{ application.user.auth_info[0].main_character }}</td>
                        <td class="text-center">
                            {% if application.approved_denied == "New" %}
                                <div class="alert-warning" role="alert">New</div>

                            {% elif application.approved_denied == "Approved" %}
                                <div class="alert-success" role="alert">Approved</div>

                            {% elif application.approved_denied == "Rejected" %}
                                <div class="alert-danger" role="alert">Rejected</div>

                            {% elif application.approved_denied == "Undecided" %}
                                <div class="alert-info" role="alert">In Progress</div>

                            {% elif application.approved_denied == "Awaiting Response" %}
                                <div class="alert-info" role="alert">Awaiting Response</div>

                            {% elif application.approved_denied == "Needs Director Review" %}
                                <div class="alert-info" role="alert">Needs Director Review</div>

                            {% elif application.approved_denied == "Role Stasis" %}
                                <div class="alert-info" role="alert">Role Stasis</div>

                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('recruit.application_view', application_id=application.id) }}">
                                <button type="button" class="btn btn-primary"><span
                                        class="glyphicon glyphicon-eye-open"></span></button>
                            </a>

                            {% if ( application.approved_denied == "New" and (application.user_id == current_user.get_id() ) ) or current_user.has_role("admin") %}
                                <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="delete") }}">
                                    <button type="button" class="btn btn-danger"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">No primary character set, Please set a primary character</div>
    {% endif %}
</div>

{% endblock %}
