
{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <h1 class="page-header text-center">Personal Application</h1>
    {% if current_user.main_character_id %}
        {% if current_user.has_role("admin") or ((current_user.has_role("recruiter") or current_user.has_role("reviewer")) and current_user.get_id()|int != application.user_id|int) %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Actions</div>
                        <div class="panel-body text-center">
                            {% if current_user.has_role("recruiter") or current_user.has_role("admin") %}
                                <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="approve") }}">
                                    <button type="button" class="btn btn-success">Approve</button>
                                </a>
                                <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="reject") }}">
                                    <button type="button" class="btn btn-info">Reject</button>
                                </a>
                                <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="close") }}">
                                    <button type="button" class="btn btn-danger">Close</button>
                                </a>
                            {% endif %}

                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="new") }}">
                                <button type="button" class="btn btn-warning">New</button>
                            </a>
                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="needs_processing") }}">
                                <button type="button" class="btn btn-warning">Needs Processing</button>
                            </a>
                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="stasis") }}">
                                <button type="button" class="btn btn-info">Role Stasis</button>
                            </a>
                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="waiting") }}">
                                <button type="button" class="btn btn-info">Awaiting Response</button>
                            </a>
                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="director_review") }}">
                                <button type="button" class="btn btn-info">Director Review</button>
                            </a>
                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="missing_ingame") }}">
                                <button type="button" class="btn btn-info">Need In-Game App</button>
                            </a>
                            <a href="{{ url_for('recruit.application_interact', application_id=application.id, action="undecided") }}">
                                <button type="button" class="btn btn-warning">In Progress</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if related|length > 0 %}
                    <div class="col-md-7">
                {% else %}
                    <div class="col-md-12">
                {% endif %} 
                    <div class="panel panel-default">
                        <div class="panel-heading">API Keys<button data-toggle="collapse" data-target="#apikeys" class="close">^</button></div>
                        <div id="apikeys" class="collapse in">
                            <div class="panel-body">
                                {% for api_key in application.user.api_keys %}
                                    Key ID: {{ api_key.api_id }} Key Date: {{ api_key.last_update_time.strftime('%Y/%m/%d %H:%M:%S') }}
                                    <a target="_blank" class="btn btn-default btn-xs" href="{{ url_for('eveapi.jackknife_proxy',usid=api_key.api_id) }}">
                                        Jack Knife
                                    </a>
                                    <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if related|length > 0 %}
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">Related Applications<button data-toggle="collapse" data-target="#related" class="close">^</button></div>
                            <div id="related" class="collapse in">
                                <div class="panel-body">
                                    {% for related_app in related %}
                                            <a target="_blank" class="btn btn-default btn-xs" href="{{ url_for('recruit.application_view', application_id=related_app.id) }}">
                                                {% for rel_char in related_app.characters %}{% if loop.index0 > 0 %}, {% endif %}{{ rel_char.character_name }}{% endfor %}
                                            </a> - {{ related_app.approved_denied }}
                                            <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="row">
    {% if current_user.has_role("admin") or ((current_user.has_role("recruiter") or current_user.has_role("reviewer")) and current_user.get_id()|int != application.user_id|int) %}
        <div class="col-sm-4"> {# indent to match row #}
    {% endif %}
            <div class="form-group">
                <label class="control-label">Status</label>
                {% if application.approved_denied == "Role Stasis" %}
                    <div class="alert alert-warning" role="alert">Role Stasis</div>

                {% elif application.approved_denied == "Approved" %}
                    <div class="alert alert-success" role="alert">Approved
                        <div class="text-left" style="word-break: break-all;">
                            Put {{ request.url }} in your in game app and apply
                        </div>
                    </div>

                {% elif application.approved_denied == "Rejected" %}
                    <div class="alert alert-danger" role="alert">Rejected</div>

                {% elif application.approved_denied == "Awaiting Response" %}
                    <div class="alert alert-danger" role="alert">Awaiting Response</div>

                {% elif application.approved_denied == "Needs Director Review" %}
                    <div class="alert alert-danger" role="alert">Needs Director Review</div>

                {% elif application.approved_denied == "Undecided" %}
                    <div class="alert alert-warning" role="alert">In Progress</div>

                {% elif application.approved_denied == "Closed" %}
                    <div class="alert alert-danger" role="alert">Closed</div>

                {% elif application.approved_denied == "Needs Processing" %}
                    <div class="alert alert-warning" role="alert">Needs Processing</div>

                {% elif application.approved_denied == "Missing In-Game" %}
                    <div class="alert alert-warning" role="alert">Needs In-Game App</div>

                {% elif application.approved_denied == "New" or application.approved_denied is not defined %}
                    <div class="alert alert-warning" role="alert">New</div>

                {% endif %}
            </div>
            <div class="form-group">
                <label class="control-label">Reviewer</label>
                {% if not application.reviewer_user or not application.reviewer_user.main_character %}
                    <div class="alert alert-info" role="alert">Pending</div>
                {% else %}
                    <div class="alert alert-info" role="alert">{{ application.reviewer_user.main_character }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label class="control-label">Last Action</label>
                <div class="alert alert-info" role="alert">
                {% if not application.last_action_user or not application.last_action_user.main_character %}
                    Pending
                {% else %}
                    {{ application.last_action_user.main_character.character_name }}
                {% endif %}
                at {{ application.last_update_time.strftime('%Y/%m/%d %H:%M:%S') }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Created Time</label>
                <input class="form-control" value="{{ application.created_time.strftime('%Y/%m/%d %H:%M:%S') }}" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">Is this an application for an alt?</label>
                <input class="form-control" value="{{ application.alt_application }}" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">User Account</label>
                <input class=" form-control" value="{{ application.user.email }}" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">Characters Applying</label>
                {% for character in application.characters %}
                    <input class="form-control" value="{{ character.character_name }}" disabled>
                {% endfor %}
            </div>
            <div class="form-group">
                <label class="control-label">Main Character Name</label>
                <input class="form-control" value="{{ application.main_character_name }}" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">KarmaFleet is a new player corporation. If you started playing EVE more than 6 months ago, why are you looking to join a new player corporation? If you are new, what made you want to play EVE in the first place?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.thesis }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">How long have you been playing EVE?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.how_long }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Any notable accomplishments in that time?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.notable_accomplishments }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Walk us through your Corporation history:</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.corporation_history }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Why are you leaving your current Corporation?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.why_leaving }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">What do you know about KarmaFleet?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.what_know }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">How do you expect daily life in KarmaFleet to be?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.what_expect }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Do you have any alts or other characters? Are any of your characters bought, and if so, which ones?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.bought_characters }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Why are you interested in joining KarmaFleet?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.why_interested }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Have you ever interacted with another member of Goonswarm Federation?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.goon_interaction }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Do you have any friends in KarmaFleet? If so, who?</label>
                <textarea class=" form-control" rows="10" disabled>{{ application.friends }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">On a scale from 1 to 10, where 1 is pure PvE and 10 is pure PvP, where do you see yourself?</label>
                <input class="form-control" value="{{ application.scale }}" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">What's your favorite role to play, why?</label>
                <textarea class=" form-control" rows="3" rows="10" disabled>{{ application.favorite_role }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">How did you find out about KarmaFleet?</label>
                <textarea class=" form-control" rows="3" rows="10" disabled>{{ application.find_out }}</textarea>
            </div>
        {% if current_user.has_role("admin") or ((current_user.has_role("recruiter") or current_user.has_role("reviewer")) and current_user.get_id()|int != application.user_id|int) %}
        </div> {# ends column that only exists in recruiter mode #}
        <div class="col-sm-4">
            <label class="control-label">Characters ({{ characters|length }})</label>
            {% for character in characters %}
                <div class="panel panel-default">
				{% if character.user_id|int != application.user_id|int %}
                    <div class="panel-heading" id="removed">
				{% else %}
                    <div class="panel-heading">
				{% endif %}
						<div class="panel-title">
							{{ character.character_name }}{% if character.user_id|int != application.user_id|int %} - REMOVED{% endif %}
						</div>
                        GSF BL Status: {{ gsf_blacklist[character.character_name] }}
                        <br>
						{% if character.api_id %}
							<a target="_blank" href="{{ url_for('eveapi.jackknife_proxy', usid=character.api.api_id, chid=character.character_id) }}">
								<button type="button" class="btn btn-default btn-xs">Jack Knife</button>
							</a>
							<br>
						{% endif %}
                        <a target="_blank" href="https://forums.eveonline.com/default.aspx?g=search&postedby={{ character.character_name }}">
                            <button type="button" class="btn btn-default btn-xs">Forum Search</button>
                        </a>
                        <br>
                        <a target="_blank" href="https://zkillboard.com/character/{{ character.character_id }}/">
                            <button type="button" class="btn btn-default btn-xs">zKillboard</button>
                        </a>
                        <br>
                        <a target="_blank" href="http://evewho.com/pilot/{{ evewho[character.character_name] }}">
                            <button type="button" class="btn btn-default btn-xs">Eve Who</button>
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-5 col-sm-4">
                            <img class="ra-avatar img-responsive" src="https://image.eveonline.com/Character/{{ character.character_id }}_128.jpg">
                        </div>
                        <div class="col-lg-7">
                            <p><strong>Alliance: </strong> {{ character.corporation.alliance.alliance_name }} </p>
                            <p><strong>Corporation: </strong>{{ character.corporation.corporation_name }}</p>
                            <p><strong>Ticker: </strong> {{ character.corporation.corporation_ticker }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {# end column #}
        <div class="col-sm-4">
            <label class="control-label">Comments ({{ comments|length }})</label>
            {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{ comment.user.main_character }} - {{ comment.created_time.strftime('%Y/%m/%d %H:%M:%S') }}
                            <a id="comment{{comment.id}}"></a>
                        </div>
                        {% if (comment.last_update_time - comment.created_time).total_seconds() > 1 %} (edited {{ comment.last_update_time.strftime('%Y/%m/%d %H:%M:%S') }})<br>{% endif %}
                        {% if comment.user_id|int == current_user.get_id()|int or current_user.has_role("admin") %}
                            <button type="button" class="btn-xs btn-danger" data-toggle="modal" data-target="#editComment" data-comment_text="{{ comment.comment }}"
                                data-comment_id="{{ comment.id }}" data-application_id="{{ application.id }}">Edit</button>
                        {% endif %}
                        {% if current_user.has_role("admin") %}
                            <a href="{{ url_for('recruit.application_comment_action', application_id=application.id, comment_id=comment.id, action="delete") }}">
                                <button type="button" class="btn-xs btn-danger">Delete</button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="panel-body" style="word-wrap: break-word;">
                        {{ comment.comment|markdown(wrap=True, autolink=True) }}
                    </div>
                </div>
            {% endfor %}
            {# Modal edit dialog definition #}
            <div id="editComment" class="modal fade" role="dialog" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button> <!-- X / dismiss button-->
                            <h4 class="modal-title">Edit Comment</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-signin" id="editform" role="form" action="{{ url_for('recruit.application_comment_action', application_id=-1, comment_id=-2, action='edit') }}" method="POST">
                                {{ form_edit.hidden_tag() }}
                                {{ wtf.quick_form(form_edit) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {# Add comment form #}
            <form role="form" action="{{ url_for('recruit.application_comment_create', application_id=application.id) }}" method="POST">
                {{ form_comment.hidden_tag() }}
                {{ wtf.quick_form(form_comment) }}
            </form>
        </div>
        {% endif %} <!-- end if user has roles-->
        </div> {# end of row #}

    {% else %}
        <div class="alert alert-danger" role="alert">No primary character set, Please set a primary character</div>
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
{{super()}}
{% if current_user.has_role("admin") or ((current_user.has_role("recruiter") or current_user.has_role("reviewer")) and current_user.get_id()|int != application.user_id|int) %}
    <script>
    $('#editComment').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var comment_text = button.data('comment_text')
        var comment_id = button.data('comment_id')
        var application_id = button.data('application_id')
        var modal = $(this)
        modal.find('.modal-body textarea').val(comment_text)
        // Consider replacing this replace hack with Flask-JSGlue
        var action = $("#editform").attr('action')
        action = action.replace('-1', application_id)
        action = action.replace('-2', comment_id)
        $("#editform").attr('action', action)
    })
    </script>
{% endif %}
{% endblock %}
